<a href="https://colab.research.google.com/github/uiacap/UIAC_AP_MATH_4012/blob/main/Chapters/AP_401_402_7_list_math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div dir=rtl>
نوع داده لیست در پایتون:
</br>
در صورتیکه بخواهیم نوع داده ای داشته باشیم که به جای یک مقدار از تعدادی از مقادیر تشکیل شده باشد، می توانیم از نوع داده list، Tuple، Set یا dictionary استفاده کنیم
</br>
نوع داده list:
</br>
لیست مقداری است که شامل تعدادی مقدار است.
</br>
برای تعریف لیست از [ , ] استفاده می کنیم
</br>
برای مثال متغیر a در زیر مقدار دهی شده است، شامل یک لیست با چهار عنصر می باشد.
</div>

In [8]:
a = [1,2,4, 17]
b = ['abc', 'a', 'abv', 'adgh']
c = [1,2, 'abc', 2.3, 4, 5, 7.8]
d = [[1,2,4.5], 'sd']
print(type(a))
print(b[1])
print(c[1:5])
print(c[1:5:2])
print(c[:4])
print(c[2:])
print(c[:])

<class 'list'>
a
[2, 'abc', 2.3, 4]
[2, 2.3]
[1, 2, 'abc', 2.3]
['abc', 2.3, 4, 5, 7.8]
[1, 2, 'abc', 2.3, 4, 5, 7.8]

<div dir = rtl>
عملگرهای + و * را برای لیست ها داریم.
</div>

In [14]:
l1 = [2,4,"abi", 2.4]
l2 = [2, 'python']
print(l1[-1])
print(l1+l2)
print(l2 * 2)

2.4
[2, 4, 'abi', 2.4, 2, 'python']
[2, 'python', 2, 'python']

<div dir=rtl>
برای دسترسی به عناصر لیست مانند رشته های از ایندکس عناصر استفاده می کنیم.
</br>
عناصر از ایندکس 0 شروع می شوند.
</br>
با استفاده از عملگر : نیز می توان یک زیر لیست از لیست داشت
</br>
عناصر لیست از آخر به اول با اندیس های منفی شماره گذاری می شوند که از 1- شروع می شود.
</div>

Nested indexing
</br>

In [11]:
nl = ["python", [2,0,[4,'b'],5]]

print(nl[1][1])
print(nl[1][2][1])

0
b

<div dir=rtl>
لیست ها قابل تغییر هستند
</br>
میخواهیم عنصر 4 از لیست زیر را تغییر دهیم
</div>

In [18]:
odd_list = [2, 4, 6, 8, 10, 12]
odd_list[3] = 14
#odd_list[6] = 10
print(odd_list)

IndexError: ignored

change 2nd to 4th element

In [17]:
odd_list = [2, 4, 6, 8, 10, 12]
#odd_list[1:4] = [5,9]
odd_list[1:4] = []
print(odd_list)

[2, 10, 12]

<div dir=rtl>
برای اضافه کردن یک مقدار به ته لیست از دستور append استفاده می کنیم.
</br>
در صورتیکه به عنوان ورودی list مجموعه ای از مقادیر را بدهیم تمام آنها به لیست اضافه می شوند.
</div>

In [20]:
odd_list = [2, 4, 6, 8, 10, 12]
odd_list.append(20)
l = [3, 4.5]
l.append(5)
print(odd_list)
print(l)

[2, 4, 6, 8, 10, 12, 20]
[3, 4.5, 5]

<div dir=rtl>
اگر بخواهیم در مکانی از لیست مقداری را اضافه کنیم از تابع insert استفاده می کنیم.
</br>
در صورتیکه بخواهیم تعدادی مقدار را در مکانی از لیست اضافه کنیم. از زیر لیست با ابتدا و انتهای یکسان استفاده می کنیم.
</div>

In [22]:
l = [1,3,4,56,10]
#l.insert(1,10)
#print(l)
l[2:2] = [1.3,4.5]
print(l)

[1, 3, 1.3, 4.5, 4, 56, 10]

<div dir=rtl>
برای حذف یک مقدار از لیست از متد popاستفاده می کنیم. 
</br>
متد pop به عنوان ورودی، ایندکس عنصر را گرفته ، آنرا حذف کرده و سپس مقدار آنرا بر می گرداند.
</div>

In [24]:
l = [1,3,4,56,10]
print(l.pop())
print(l)
print(l.pop(2))
print(l)

10
[1, 3, 4, 56]
4
[1, 3, 56]

<div dir=rtl>
با استفاده از دستور del می توان هر متغیری را حذف کرد.
</br>
از این دستور می توانیم برای حذف عناصر لیست یا یک زیر لیست از لیست استفاده کرد.
</dir>

In [ ]:
a = 34
print(a)
del a
print(a)

In [34]:
l = [1,3,4,56,10,'cv']
del l[1]
print(l)
del l[2:4]
print(l)

[1, 4, 56, 10, 'cv']
[1, 4, 'cv']

<div dir=rtl>
با استفاده از متد remove نیز می توان عنصری را از لیست حذف کرد.
</br>
تفاوت remove با pop این است که به جای ایندکس یک مقدار می گیرد و آنرا حذف کرده و در صورتیکه مقدار مورد نظر در لیست نبود، خطا بر می گرداند.
</div>

In [39]:
l = ['a','b','a','c','a']
l.remove('a')
print(l)
if 'g' in l :
  l.remove('g')

while 'a' in l :
  l.remove('a')
print(l)

['b', 'a', 'c', 'a']
['b', 'c']

In [40]:
l = [1,3,4,56,10,'cv']
l.reverse()
print(l)

['cv', 10, 56, 4, 3, 1]

In [41]:
l = [1,3,4,56,10,'cv']
print(l)
l.clear()
print(l)

[1, 3, 4, 56, 10, 'cv']
[]

[1, 3, 4, 56, 10, 'cv']

<div dir = rtl>
برنامه ای بنویسید که تعدادی کلمه را از کاربر خوانده تا وقتی کاربر یک خط خالی وارد کند. و سپس این کلمات را از آخر به اول چاپ کند.
</div>

In [ ]:
#word = input()
#while word != "" :
#  word = input()

l = []
while True :
  word = input()
  if word == "" :
    break
  l.append(word)

for i in range(1,(len(l)+1)):
  print(l[-i], end=" ")

In [32]:
l = []
while True :
  word = input()
  if word == "" :
    break
  l.append(word)

l1 = l[::-1] 

print(l)
print(l1)

ab
ac
ad

['ab', 'ac', 'ad']
['ad', 'ac', 'ab']

<div dir=rtl>
تابعی بنویسید که اعضای تکراری یک لیست را حذف کند.
</div>

<div dir=rtl>
برنامه ای که تعدادی کلمه را از کاربر بگیرد تا وقتی که کاربر یک خط خالی وارد کند
و سپس کلمات تکراری را حذف کرده و کلمات خوانده شده را چاپ کند
</div>

In [43]:
l = []
l_all = []
while True:
  word = input()
  if word == "" :
    break
  l_all.append(word)
  if word  not in l :
    l.append(word)

for i in range(len(l)) :
  print(l[i], end=" ")

ab
ac
ad
ab
ac
af

ab ac ad af