<a href="https://colab.research.google.com/github/uiacap/UIAC_AP_MATH_4012/blob/main/Notes/AP_401_402_10_list_comperhension_math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div dir=rtl>
با استفاده از list comperhension یا معرف لیست می توانیم لیست را بر اساس الگوی خاصی یا از روی لیست های دیگر بسازیم
</div>

In [ ]:
qubes = []  # 1 8 27 ..., 1000
for x in range(1,11):
  qubes.append(x**3)
print(qubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
qubes = [x**3 for x in range(1,11)]
print(qubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

<div dir=rtl>
در یک معرف لیست، ابتدا یک عبارت داده می شود که لیست بر اساس آن عبارت ساخته می شود.
</br>
در صورتیکه عبارت شامل متغیر باشد، پس از دادن عبارت باید تعیین کنید که از چه رنجی انتحاب شود که این کار را به دستور for و ifمی توان انجام داد.
</dir>

In [ ]:
l = [2*x for x in range(5)]
print(l)

[0, 2, 4, 6, 8]

In [ ]:
print([x+y for x in range(10) for y in range(5)])

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 6, 7, 8, 9, 10, 7, 8, 9, 10, 11, 8, 9, 10, 11, 12, 9, 10, 11, 12, 13]

In [ ]:
print([str(x)+y for x in [1,2,3] for y in ['A','B']])

['1A', '1B', '2A', '2B', '3A', '3B']

In [ ]:
[(x, y) for x in [1, 2, 3] for y in [1, 2, 3] if x != y]

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

<div dir=rtl>
لیستی تولید کنید که به ازای مقادیر مثبت data، 2^x را تولید کند.
</div>

In [ ]:
data = [10, -4, 53, 122, 0]
datap = [x for x in data if x >0 ]
print(datap)

[10, 53, 122]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
print([x.upper() for x in fruits])
newlist = [x for x in fruits if 'a' in x]
print(newlist)

<div dir=rtl>
لیست های تو در تو
</br>
آرایه های چند بعدی و ماتریس ها را می توان با استفاده از لیست های تو در تو ساخت
</div>

In [ ]:
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in range(3):
  for j in range(3):
    print(m[i][j], end=' ')
  print()

In [ ]:
m = [[i for i in range(1,4)], [i for i in range(4,7)], [i for i in range(7,10)]]
print(m)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

<div dir=rtl>
یک ماتریس دارای m سطرو n ستون با مقادیر اولیه 0
</div>

In [ ]:
m = 3
n = 3

mat = [[0 for x in range(n)]for y in range(m)]
print(mat)

mat2 = [[0]*n for i in range(m)]
print(mat2)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

<div dir=rtl>
یک لیست بسازید که شامل جایگشت های مختلف 1 تا 3 باشد.
</div>

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]